name: node app

on: [push]
jobs:
  build:
   runs-on: ubuntu-latest
   steps:
     - uses: actions/checkout@v3
     - uses: actions/setup-node@v3
       with:
         node-version: '14'
     - name: changing dir
       working-directory: ./ulta-beauty
       run: |
         npm i
         ls /home/etc/nginx/systemd/system
#         sudo apt update
#         sudo apt install nginx
 
#     - name: deploying
#       working-directory: ./ulta-beauty/build
#       run: cat /etc/os-release 
#     - name: deploy
#       working-directory: ./ulta-beauty/build
#       run: npm run test
    # - run: npm run start
